$govuk-assets-path: '/static/assets/';
$govuk-images-path: '/static/assets/images/';

@import "node_modules/govuk-frontend/dist/govuk/index";
@import "node_modules/@ministryofjustice/frontend/moj/all";
