SECRET_KEY=<SET_THIS>
SITE_URL=<SET_THIS>
DJANGO_SETTINGS_MODULE=opgincidentresponse.settings.dev

SOCIAL_AUTH_GITHUB_KEY=<SET_THIS>
SOCIAL_AUTH_GITHUB_SECRET=<SET_THIS>

SLACK_TOKEN=<SET_THIS>
SLACK_SIGNING_SECRET=<SET_THIS>
SLACK_TEAM_ID=<SET_THIS>
INCIDENT_BOT_ID=<SET_THIS>
INCIDENT_BOT_NAME=<SET_THIS>
INCIDENT_CHANNEL_NAME=incidents
INCIDENT_REPORT_CHANNEL_NAME=incidents

STATUSPAGEIO_API_KEY=<SET_THIS>
STATUSPAGEIO_PAGE_ID=<SET_THIS>

PAGERDUTY_API_KEY=<SET_THIS>
PAGERDUTY_EMAIL=<SET_THIS>
PAGERDUTY_SERVICE=<SET_THIS>
