Django==4.2.16
django-after-response==0.2.2
git+https://github.com/ministryofjustice/opg-response.git@9d8dc7673aed3790d49a7917576240b5ee4b23a2#egg=django-incident-response
django-health-check==3.18.3
django-decorator-include
pytest-mock
pytest-django==4.8.0
python-dotenv==1.0.1
gunicorn==22.0.0
psycopg2-binary==2.9.9
social-auth-app-django
pypd
