Django==5.0.4
django-after-response==0.2.2
git+https://github.com/ministryofjustice/opg-response.git@10bcb5dcdaf380d9ca20687526a8e798395ab2fc#egg=django-incident-response
django-health-check==3.18.1
django-decorator-include
pytest-mock
pytest-django==4.8.0
python-dotenv==1.0.1
gunicorn==22.0.0
psycopg2-binary==2.9.9
social-auth-app-django
pypd
