name: "[Workflow] Pull request to branch"

concurrency:
  group: path-to-live-workflow

on:
  pull_request:
    branches:
      - main

permissions:
  id-token: write
  contents: write
  security-events: write
  pull-requests: read
  actions: none
  checks: none
  deployments: none
  issues: none
  packages: none
  repository-projects: none
  statuses: none

defaults:
  run:
    shell: bash

jobs:
  workflow_variables:
    runs-on: ubuntu-latest
    name: output workflow variables
    outputs:
      parsed_branch: ${{ steps.branch_name.outputs.safe }}
      version_tag: ${{ steps.semver_tag.outputs.created_tag }}
    steps:
      - uses: actions/checkout@3b9b8c884f6b4bb4d5be2779c26374abadae0871 # pin@v3

      - name: generate safe branch name
        id: branch_name
        uses: ministryofjustice/opg-github-actions/.github/actions/branch-name@v3.1.0

      - name: generate semver tag for pull request
        id: semver_tag
        uses: ministryofjustice/opg-github-actions/.github/actions/semver-tag@v3.1.0
        with:
          prerelease: true
          default_bump: "minor"

  build_scan_push_containers:
    name: Docker Build, Scan and Push
    uses: ./.github/workflows/_build.yml
    needs: [workflow_variables]
    with:
      tag: ${{ needs.workflow_variables.outputs.version_tag }}
      branch_name: ${{ needs.workflow_variables.outputs.parsed_branch }}

  deploy_to_development_environment:
    if: ${{ github.actor != 'dependabot[bot]' }}
    name: Deploy to Development Environment
    needs: [
      workflow_variables,
      build_scan_push_containers
    ]
    uses: ./.github/workflows/_deploy.yml
    with:
      workspace: development
      image_tag: ${{ needs.workflow_variables.outputs.version_tag }}
      account_name: development
      apply: true

  smoke_test:
    if: ${{ github.actor != 'dependabot[bot]' }}
    name: Check Website Availability
    needs: [
      workflow_variables,
      deploy_to_development_environment
    ]
    uses: ./.github/workflows/_smoke.yml
    with:
      url: https://dev.incident.opg.service.justice.gov.uk/ht/

  end_of_pr_workflow:
    name: end of workflow
    runs-on: ubuntu-latest
    needs: [workflow_variables,smoke_test]
    steps:
      - name: End of PR Workflow
        run: echo "${{ needs.workflow_variables.outputs.version_tag }} tested, built and deployed to Development"
